[bumpversion]
current_version = 0.26.1
commit = True
tag = True

[bumpversion:file:watson_developer_cloud/version.py]
search = __version__ = '{current_version}'
replace = __version__ = '{new_version}'

[bumpversion:file:setup.py]
search = __version__ = '{current_version}'
replace = __version__ = '{new_version}'

