# IDE OS
.DS_Store
.idea

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

.vscode

# virtual env
venv/
# python 3 virtual env
python3/

.env

# resources
resources/output.wav

docs/_build/
deploy.sh
docs/apis
docs/gh-pages
test/__init__.py
*~

.sfdx/tools/apex.db
.pytest_cache/

# ignore detect secrets files
.pre-commit-config.yaml
.secrets.baseline

.openapi-generator-ignore
.openapi-generator/