{
  "branch": "master",
  "verifyConditions": ["@semantic-release/changelog", "@semantic-release/github"],
  "debug": true,
  "prepare": [
    "@semantic-release/changelog",
    "@semantic-release/git",
    {
      "path": "@semantic-release/exec",
      "cmd": "bumpversion --current-version ${lastRelease.version} --new-version ${nextRelease.version} patch"
    }
  ],
  "publish": [
    {
      "path": "@semantic-release/github"
    }
  ]
}