# test dependencies
pytest==6.2.4
responses==0.13.3
python_dotenv==0.17.1;python_version!='3.2'
pylint==2.8.2
pytest-rerunfailures==9.1.1
ibm_cloud_sdk_core>=3.3.6, == 3.*

# code coverage
coverage>=4, <5
codecov>=1.6.3
pytest-cov>=2.2.1

# documentation
recommonmark==0.7.1
Sphinx==3.5.2
bumpversion==0.6.0

# Web sockets
websocket-client==1.1.0
